@font-face{

    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot');
    src: url('../fonts/vazir.ttf') format('truetype'),
     url('../fonts/vazir.woff') format('woff');

}
@font-face{

    font-family: 'yekan';
    src: url('../fonts/yekan.eot') format('eot');
    src: url('../fonts/yekan.ttf') format('truetype'),
     url('../fonts/yekan.woff') format('woff');

}


