.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1.125rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9375rem;
  transition: 0.4s;
}

.panel {
  padding: 0rem 0.3125rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, margin linear 0.1s;
  text-align: justify;
  color: #fff;
}
